<!-- footer Section-->
<footer class="page-footer font-small purple pt-4 fixed-bottom">
  <div class="container-fluid text-center text-md-left">
    <!-- Grid row -->
    <div class="row">

      <small>&copy; 2021 All Rights Reserved.</small>
    </div>
</footer>