
  <!-- footer Section-->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <div class="container-fluid footer-row">
        <div class="columns medium-8 medium-push-8 text-center">
          <div class="navbar-text">
            &copy; 2021 All Rights Reserved.
          </div>
          
          <span style="color: Tomato">
            <a href="http://www.linkedin.com/in/vaishalics" target="_blank">
              <!-- <i class="fa fa-linkedin fa-2x"></i> -->
              <i class="fab fa-linkedin fa-2x" ></i>
              <a href="http://www.facebook.com/help/?page=900#!/pages/Chris-Thurman-Creative/158966180812901" target="_blank">
                <i class="fab fa-facebook-square fa-2x"></i></a>
                <a href="https://github.com/vaishali-vcs?tab=repositories" target="_blank">
                  <i class="fab fa-github-square fa-2x"></i></a>
          </span>
        </div>  
          
      </div>
    </nav>
  </footer>