<section class="contact-area">
    <div class="container">
        
        <h2>Get In Touch</h2>
        <span>If you wanna get in touch, talk to me about a project or just say hi,
            fill up the below form and let's talk.</span>
        <form class="form">
            <div class="col-7 formrow">
                <input type="text" placeholder="Name" class="form-control" 
                id="inputname" required />
               
            </div>
            <div class="col-7 formrow">
                
                <input type="text" placeholder="Subject" class="form-control" 
                id="inputsubject" required />
                
            </div>
            <div class="col-7 formrow">
            
                <textarea placeholder="Message" class="form-control" id="exampleFormControlTextarea1" 
                rows="3" required></textarea>
                
            </div>
            <div class="col-7 formrow">
            
                <input type="email" placeholder="Email address" class="form-control" 
                id="inputemail" aria-describedby="emailHelp" required />
                
            </div>
            <div class="col-7 text-center">
                <button type="submit" class="btn btn-primary btn-dark">Get in Touch</button>

            </div>
        </form>

    </div>
</section>