<main>

  <section class="site-banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 site-title">
        <h3 class="title-text">Hey</h3>
        <h1 class="title-text text-uppercase"> I am Vaishali Siddeshwar</h1>
        <h4 class="title-text">Software Developer & Data Science Enthusiast</h4>
      </div>
        <div class="col-lg-6 col-md-12 banner-image">
          <img class="img-fluid" src="Content/images/home.jpg"></img>
        </div>
    </div>

  </section>
  </div>
</main>