<section>
  <div class="container" style="align-content: center;">
    <div class="jumbotron" style="background-color: transparent;" >
        <h3 class="text-uppercase text-center title">Welcome to my website !</h3>
        <hr>
        <h2>My name is Vaishali Siddeshwar</h2>
        <p> I'm a creative thinker, 
        Software Developer & Data Science Enthusiast 
        but also passionate about web development. 
        I am currently based in Toronto, specializing in Artificial Intelligence. Click on the button below to know more about me.</p>
        <form action="/home" method="POST"> 
          <button type="submit" class="btn btn-primary btn-dark">About Me</button>
      
        </form> 
        </div>
      </div>
</section>