<section class="project-area">
    <div class="container">
        <h2 class="text-uppercase pt-5">
            <span>My Projects</span>    
        </h2>
        <div class="row grid">
            <div class="card-columns">
                <div class="card bg-light">
                    <img src="/Content/images/cassava.jpg" class="card-img-top" alt="...">
                    <div class="card-body ">
                        <h5 class="card-title text-center">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the card's content.</p>
                        <div class="text-center">
                            <a href="https://www.kaggle.com/c/cassava-leaf-disease-classification"
                                class="btn btn-primary btn-dark">View in github</a>
                        </div>
                    </div>
                </div>
                <div class="card bg-light">

                    <div class="card-body ">
                        <img src="/Content/images/tweet.png" class="card-img-top" alt="...">
                        <h5 class="card-title text-center">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the
                            bulk of the card's content.</p>
                        <div class="text-center">
                            <a href="https://github.com/vaishali-vcs/DisasterTweets"
                                class="btn btn-primary btn-dark">View in github</a>
                        </div>
                    </div>
                </div>
                <div class="card bg-light">
                    <img src="/Content/images/melanoma.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the
                            bulk of the card's content.</p>
                        <div class="text-center">
                            <a href="https://github.com/vaishali-vcs/melanoma_Classification"
                                class="btn btn-primary btn-dark">View in github</a>
                        </div>
                    </div>
                </div>
                <div class="card bg-light">
                    <img src="/Content/images/yelp.png" class="card-img-top" alt="...">
                    <div class="card-body ">
                        <h5 class="card-title text-center">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the
                            bulk of the card's content.</p>
                        <div class="text-center">
                            <a href="https://github.com/vaishali-vcs/yelp_analysis_inSpark"
                                class="btn btn-primary btn-dark">View in github</a>
                        </div>
                    </div>
                </div>
                <div class="card bg-light">
                    <img src="/Content/images/wumpus.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the
                            bulk of the card's content.</p>
                        <div class="text-center">
                            <a href="https://github.com/vaishali-vcs/wumpusworld" class="btn btn-primary btn-dark">View
                                in github</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>