<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>
    <%= title %>
  </title>

  <!-- CSS Section-->
  <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' />
  <link rel='stylesheet' href='/@fortawesome/fontawesome-free/css/all.min.css' />
 
<body>
  <!-- MenuBar Section-->
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #9bd4fd;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/Content/images/vs.png" alt="" width="40" height="40" class="d-inline-block align-top">
      </a>
    </div>
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><i class="fas fa-lg fa-home"></i> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about"> <i class="fas fa-lg fa-info-circle"></i> About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/products"> <i class="fas fa-lg fa-th-large"></i> Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/services"><i class="fas fa-lg fa-cogs"></i> Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact"><i class="fas fa-lg fa-mobile-alt"></i> Contact</a>
          </li>
          
      </div>
    </div>
  </nav>


  <h1>Welcome to <%= title %> page
  </h1>
  <!-- Script Section-->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  
  
</body>

</html>