/* Custom CSS */
.site-main{
background: url('/Content/images/background.jpg') repeat;
}

.site-main .site-banner .site-title h3{
    padding-top: 20%;
    font-weight: 500;
}
.site-main .site-banner .site-title h3::after{
    content: " "; 
    height: 2px;
    width: 18vw;
    background-color: black;
    display: inline-block;
    margin-left: 5%;
}

.site-main .site-banner .site-title h1{
    font-size: 5 rem;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5 rem;
}

.site-main .site-banner .banner-image img{
    padding-top: 2rem;
    width: 90rem;
    
}

.site-main .about-area{
    padding: 5rem, 0rem;
}
.site-main .about-area .about-image img{
    padding: 3%;
}
.site-main .about-area .about-title h2 > span{
    display: block;
    font: normal bold 49px/60px;
    letter-spacing: 10px; 
}
.site-main .about-area .about-title h3 > span{
    display: block;
    font: normal bold 49px/60px;
    letter-spacing: 5px; 
}
.site-main .about-area ul#menu li {
    display:inline;
  }

  .footer-row{
    width:auto;
    padding-left: 25px;
    margin-left:-0.9375em;
    margin-right:-0.9375em;
    margin-top:0;
    margin-bottom:0;
    max-width:none
  }


  .site-main .project-area .grid .our-project > .title h4{
      font: normal 700 25px/12px;
  }

  .site-main .project-area .title-h1{
    display: block;
    font: normal bold 49px/60px;
    letter-spacing: 5px; 
    
}

  .site-main .contact-area .form .formrow{
    padding: 1rem;
  }