
html{
    height: 100%
}
.footer {
    flex-shrink: 0;
  }

/* Custom CSS */
.site-main{
/* background: url('/Content/images/background.jpg') repeat; */
background-color:powderblue;
min-height: 100%;
}

.site-main .site-banner .site-title h3{
    padding-top: 20%;
    font-weight: 500;
}
.site-main .site-banner .site-title h3::after{
    content: " "; 
    height: 2px;
    width: 18vw;
    background-color: black;
    display: inline-block;
    margin-left: 5%;
}

.site-main .site-banner .site-title h1{
    font-size: 5 rem;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5 rem;
}

.site-main .site-banner .banner-image img{
    padding-top: 2rem;
    width: 90rem;
    
}

.site-main .about-area{
    padding: 5rem, 0rem;
}

.site-main .about-area .about-title h2 > span{
    display: block;
    font: normal bold 49px/60px;
    letter-spacing: 10px; 
}
.site-main .about-area .about-title h3 > span{
    display: block;
    font: normal bold 49px/60px;
    letter-spacing: 5px; 
}
.site-main .about-area ul#menu li {
    display:inline;
  }

  
.site-main .project-area  h2 > span{
    display: block;
    font: normal bold 49px/60px;
    letter-spacing: 10px; 
}

.site-main .project-area .grid .our-project > .title h4{
      font: normal 700 25px/12px;
  }


.site-main .project-area  h2 > span{
    display: block;
    font: normal bold 49px/60px;
    letter-spacing: 10px; 
}


.site-main .contact-area  h2 > span{
    display: block;
    font: normal bold 49px/60px;
    letter-spacing: 10px; 
}

  .site-main .contact-area .form .formrow{
    padding: 1rem;
  }

  
.site-main .services-area  h2 > span{
    display: block;
    font: normal bold 49px/60px;
    letter-spacing: 10px; 
}

#carouselservices {
    background-color: gainsboro;
    height: 220px !important;
    width: 25%;
    padding-left: 20px;
    padding-top: 20px;
    align-content: center;
    display: flex;
    position: sticky;
    float: left;
    }

 .servicedescription{
    background-color: gainsboro; 
    min-height: 220px; 
    width: 90%;
    vertical-align: middle;
 }

 